
GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/script/tmpl.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/script/template.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/script/slider.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/script/script.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/index.html

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/gulpfile.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/gulp/css/style.css

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/grunt/Gruntfile.js

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/grunt/css/style.css

GoIT/javascript/home/oleg_zmijuk/Lesson_17-18/css/style.css
