@charset "utf-8";

/*base*/
/*base_non-change*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clr:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

input[type="submit"] {
    cursor: pointer;
}

b, .b {
    font-weight: bold;
}

i, .i {
    font-style: italic;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider .slider-list {
    width: 20000em;
    position: relative;
}

.section-title {
    font-size: 36px;
    font-family: "Lato Black", sans-serif;
    color: #414042;
    line-height: 1.2;
    text-transform: lowercase;
    text-align: center;
}

.section-title span {
    display: block;
    font-size: 20px;
    font-family: "Lato Light", sans-serif;
    color: #414042;
    line-height: 0.9;
    text-transform: lowercase;
    text-align: center;
}

/*/base_non-change*/
/*base_custom*/

@font-face {
    font-family: "Myriad Pro Regular";
    src: url(./fonts/MyriadPro/MyriadPro-Regular.otf);
}

@font-face {
    font-family: "Lato Light";
    src: url(./fonts/fonts-lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato Bold";
    src: url(./fonts/fonts-lato/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(./fonts/fonts-lato/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(./fonts/fonts-lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "DroidSans Bold";
    src: url(./fonts/droid-sans/DroidSans-Bold.ttf);
}


html {
    background: #FFF;
}

body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.wrapper {
    width: 1480px;
    margin: 0 auto;
    position: relative;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

/*/base_custom*/
/*/base*/

/*project-any-block-(a-z)*/

/*header*/
header {
    position: fixed;
    top: 0;
    width: 1480px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    z-index: 10;
}

header .logo {
    float: left;
    margin-top: 16px;
    margin-left: 154px;
}

header menu {
    float: right;
    width: 847px;
}

header menu ul {
    font-size: 0;
}

header menu li {
    display: inline-block;
    margin-right: 36px;
}

header menu li a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding-top: 39px;
    font-family: "Myriad Pro Regular", sans-serif;
}

header menu li:hover a,
header menu li.active a {
    color: #4bcaff;
    border-top: 2px solid #4bcaff;
}

/*/header*/

/*main-slider*/
.main-slider-wrap {
    position: relative;
    border-bottom: 4px solid #4bcaff;
    width: 1480px;
    overflow: hidden;
}

.slider_prev,
.slider_next {
    position: absolute;
    display: block;
    top: 373px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(75, 202, 255, 0.2);
    z-index: 10;
    transition: 0.5s;
}

.slider_prev {
    left: 70px;
}

.slider_prev:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: transparent;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    top: 22px;
    left: 27px;
}


.slider_next {
    right: 70px;
}

.slider_next:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: transparent;
    border-right: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    top: 22px;
    right: 27px;
}

.slider_next.active,
.slider_next:hover {
    background: #4bcaff;
}

.slider_next.active:after,
.slider_next:hover:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: transparent;
    border-right: 1px solid #414042;
    border-top: 1px solid #414042;
    top: 22px;
    right: 27px;
}

.slider_prev.active,
.slider_prev:hover {
    background: #4bcaff;
}

.slider_prev.active:after,
.slider_prev:hover:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background: transparent;
    border-left: 1px solid #414042;
    border-bottom: 1px solid #414042;
    top: 22px;
    left: 27px;
}

.main-slider-wrap ul {
    width: 9999px;
}

.main-slider-item:first-of-type {
    height: 800px;
}

.main-slider-item:first-of-type .slider-in {
    position: absolute;
    width: 685px;
    top: 350px;
    right: 143px;
}

.main-slider .main-slider-item .slider-title {
    font-size: 46px;
    line-height: 46px;
    height: 46px;
    color: #FFFFFF;
    font-family: "Myriad Pro Regular", sans-serif;
    letter-spacing: 0.019em;
}

.main-slider-item:first-of-type .slider-title {
    margin-bottom: 18px;
}

.main-slider-item:first-of-type p {
    font-family: "Lato Light", sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0.035em;
    margin-bottom: 40px;
}

.main-slider-item:first-of-type .btn-box {
    font-size: 0;
    margin-left: 4px;
    margin-bottom: 50px;}

.main-slider-item:first-of-type .btn-box button {
    display: inline-block;
    margin-right: 40px;
    width: 195px;
    height: 65px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid #FFFFFF;
    transition: 0.5s;
}

.main-slider-item:first-of-type .btn-box button:hover {
    background: #4bcaff;
    box-shadow: 0 4px 0 0 rgba(39, 118, 151, 0.9);
    border: none;
}

.main-slider-item:first-of-type .os-wrap {
    font-size: 0;
    height: 52px;
}

.main-slider-item:first-of-type .os-wrap p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 17px;
    font-family: "Lato Light", sans-serif;
    line-height: 52px;
    height: 52px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 23px;
}

.main-slider-item:first-of-type .os-box {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    vertical-align: middle;
}

.main-slider-item:first-of-type .os-wrap a {
    display: inline-block;
    width: 52px;
    height: 52px;
    background: url("../img/icons/header-os-icon.png");
    margin-right: 16px;
}

.main-slider-item:first-of-type .os-wrap .ios {
    background-position: 0 0;
}

.main-slider-item:first-of-type .os-wrap .android {
    background-position: 65px 0;
}

.main-slider-navigator-wrap {
    position: absolute;
    height: 15px;
    bottom: 18px;
    left: 709px;
    font-size: 0;
}

.main-slider-navigator-wrap li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.main-slider-navigator-wrap a {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    line-height: 15px;
    vertical-align: middle;
}

.main-slider-navigator-wrap a:last-of-type {
    margin-right: 0;
}

.main-slider-navigator-wrap .active a,
.main-slider-navigator-wrap a:hover {
    width: 15px;
    height: 15px;
    background: #4bcaff;
    border: none;
}
/*main-slider*/


/*features*/

.features {
    background: #f9f9f9;
    padding: 42px 158px 92px;
    border-bottom: 1px solid #E7E7E7
}

.Line {
  background-color: rgb(231, 231, 231);
  position: absolute;
  left: 0px;
  top: 1386px;
  width: 1480px;
  height: 1px;
  z-index: 208;
}


.feature-item-wrap {
    font-size: 0;
    margin-top: 70px;
}

.feature-item {
    display: inline-block;
    width: 219px;
    margin-right: 96px;
    text-decoration: none;
}

.feature-item:last-of-type {
    margin-right: 0;
}

.feature-item .img {
    position: relative;
    width: 163px;
    height: 163px;
    border-radius: 50%;
    border:4px solid rgb(239, 239, 239);
    background: #4BCAFF;
    margin: 0 auto 25px;
    transition: 1s;
}

.feature-item:hover .img {
    background: #414042;
}

.feature-item .img:after {
    content: "";
    display: block;
    position: absolute;
    height: 70px;
    background: url("../img/icons/features-sprite.png");
}

.feature-item:nth-of-type(1) .img:after {
    width: 70px;
    top: 46px;
    left: 47px;
    background-position: 0 0;
}

.feature-item:nth-of-type(2) .img:after {
    width: 48px;
    top: 46px;
    left: 57px;
    background-position: -99px 0;
}

.feature-item:nth-of-type(3) .img:after {
    width: 70px;
    top: 46px;
    left: 47px;
    background-position: 0 100px;
}

.feature-item:nth-of-type(4) .img:after {
    width: 71px;
    top: 46px;
    left: 47px;
    background-position: 101px 101px;
}

.feature-item .text-box {
    width: 219px;
}

.feature-item .text-box .title {
    font-size: 15px;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    color: #414042;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

.feature-item:hover .text-box .title {
    color: #4bcaff;
    transition: 0.5s;
}

.feature-item .text-box .text {
    font-size: 13px;
    font-family: "Lato Regular", sans-serif;
    color: #838383;
    line-height: 1.692;
    text-align: center;
}

/*/features*/

/*gallery*/

.gallery {
    padding: 40px 155px 105px;
}

.gallery-item-wrap {
    margin-top: 60px;
    font-size: 0;
}

.gallery-item {
    display: inline-block;
    width: 270px;
    margin-right: 30px;
    text-decoration: none;
}

.gallery-item:last-of-type {
    margin-right: 0;
}

.gallery-item .img-box {
    position: relative;
}

.gallery-item img {
    border-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
}

.gallery-item-popup {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(65, 64, 66, 0.651);
    padding: 12px 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gallery-item-popup p {
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #4bcaff;
    text-align: center;
}

.gallery-item:hover img {
    -webkit-filter: none;
    filter: none;
}

.gallery-item:hover .img-box:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 81px;
    left: 126px;
    background: url("../img/icons/sprite.png") no-repeat 0 0;
}

.gallery-item .text-box {
    display: block;
    margin-top: 20px;
    font-family: "Lato Regular", sans-serif;
    font-size: 13px;
    color: #838383;
    text-align: center;
    padding: 0 20px;
    line-height: 1.692;
}

/*/gallery*/


/*prices*/

.prices {
    padding: 62px 225px 46px;
    height: 706px;
    box-sizing: border-box;
}

.prices-item-wrap {
    font-size: 0;
    margin: 40px auto 0;
}

.prices-item {
    display: inline-block;
    margin-right: 27px;
    background: #f9f9f9;
    color: #D7D7D7;
    width: 302px;
    min-height: 417px;
    border: 1px solid #DAD7D7;
    border-radius: 3px;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align: top;
    padding: 23px 0;
    margin-top: 39px;
    transition: 1s;
}

.prices-item:last-of-type {
    margin-right: 0;
}

.prices-item .title {
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.617;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.prices-item .price {
    font-size: 85px;
    font-family: "DroidSans Bold", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.35;
    text-align: center;
    text-shadow: 0 1px 2px rgba(25, 22, 24, 0.3);
    margin-bottom: 29px;
}

.prices-item ul {
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.prices-item li {
    margin-bottom: 18px;
}

.prices-item .button-wrap {
    text-align: center
}

.prices-item .button {
    display: inline-block;
    font-size: 15px;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    color: #FEFEFE;
    line-height: 1.2;
    border-radius: 3px;
    padding: 15px 47px;
    text-align: center;
    text-transform: uppercase;
}

.prices-item:first-of-type .price {
    background: #91c46b;
}

.prices-item:first-of-type .button {
    background: #91c46b;
}

.prices-item:first-of-type .button:hover {
    background: #a9e481;
}

.prices-item:nth-child(2) .price {
    background: #4bcaff;
}

.prices-item:nth-child(2) .button {
    background: #4bcaff;
}

.prices-item:nth-child(2) .button:hover {
    background: #73f0ff;
}

.prices-item:nth-child(3) .price {
    background: #fd7c00;
}

.prices-item:nth-child(3) .button {
    background: #fd7c00;
}

.prices-item:nth-child(3) .button:hover {
    background: #fda633;
}

.prices-item:hover {
    margin-top: 19px;
    padding: 16px 0 40px;
    width: 337px;
}

.prices-item:hover .title {
    font-size: 22px;
}

.prices-item:first-of-type:hover .title {
    color: #91c46b;
}

.prices-item:first-of-type:hover ul {
    color: #91c46b;
}

.prices-item:nth-child(2):hover .title {
    color: #4bcaff;
}

.prices-item:nth-child(2):hover ul {
    color: #4bcaff;
}

.prices-item:nth-child(3):hover .title {
    color: #fd7c00;
}

.prices-item:nth-child(3):hover ul {
    color: #fd7c00;
}

/*/prices*/


/*testimonials*/

.testimonials {
    padding: 33px 477px 37px;
    background: #f9f9f9;
    border-top: 1px solid #E7E7E7;
}

.testimonials-slider-wrap {
    width: 526px;
    height: 240px;
    overflow: hidden;
}

.testimonials-slider-wrap>ul {
    width: 9999px;
    font-size: 0;
}

.testimonials-slider-wrap li {
    display: inline-block;
    width: 526px;
    height: 170px;
}

.testimonials .section-title {
    text-transform: none;
    margin-bottom: 27px;
}

.testimonials .text-box {
    float: right;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 14px;
    color: #4bcaff;
    width: 340px;
    margin-top: 38px;
}

.testimonials .text-box .signature {
    text-align: right;
}

.testimonials .text-box .signature span {
    display: block;
}

.testimonials-slider-navigator-wrap {
    margin-top: 59px;
    text-align: center;
}

.testimonials-slider-navigator-wrap ul {
    font-size: 0;
}

.testimonials-slider-navigator-wrap li {
    display: inline-block;
    width: 50px;
    height: 6px;
    margin-right: 6px;
    background: #4bcaff;
    opacity: 0.5;
    cursor: pointer;
}

.testimonials-slider-navigator-wrap .active {
    opacity: 1;
}

.testimonials-slider-navigator-wrap li a {
    display: block;
}

/*/testimonials*/


/*download*/

section.download {
    background: #414042;
    padding: 23px 0 36px;
    text-align: center;
}

.download-title {
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    font-size: 55px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.download button {
    display: block;
    margin: 0 auto;
    background: #4bcaff;
    font-family: "Myriad Pro Regular", sans-serif;
    font-size: 15px;
    color: #414042;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 4px 0 0 rgba(39, 118, 151, 1);
    cursor: pointer;
    width: 196px;
    line-height: 60px;
    height: 60px;
    transition: 0.5s;
}

.download button:hover {
    background: #59e2ff;
}


.download button:focus {
    outline: none;
}

/*/download*/

/*contact*/

.contact {
    position: relative;
    height: 681px;
}

.contact-form {
    position: absolute;
    width: 325px;
    top: 110px;
    left: 50%;
    margin-left: -163px;
    background-color: rgba(75, 202, 255, 0.8);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 19px 26px;
    border-radius: 8px;
}

.contact-form .title {
    font-size: 36px;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    background: #FFFFFF;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 6px;
    height: 32px;
    margin-bottom: 14px;
    box-sizing: border-box;
    padding: 3px 7px;
    text-align: center;
}

.contact-form input {
    height: 34px;
    line-height: 1em;
}

.contact-form textarea {
    height: 147px;
    padding: 12px 3px;
}

.contact-form input[placeholder],
.contact-form textarea[placeholder] {
    color: #D3D3D3;
}

.contact-form input:-moz-placeholder ,
.contact-form textarea:-moz-placeholder {
    color: #D3D3D3;
}

.contact-form input::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder  {
    color: #D3D3D3;
}

.contact-form input[type='submit'] {
    background: #414042;
    font-size: 15px;
    font-family: "Lato Bold", sans-serif;
    font-weight: bold;
    color: #72B3CC;
    box-shadow: 0 4px 0 0 #313032;
    margin: 20px auto 0;
    height: 49px;
    width: 190px;
    transition: 0.5s;
}

.contact-form input[type='submit']:hover {
    background: #555456;
}

/*/contact*/


/*footer*/

footer {
    background: #414042;
    padding: 48px 148px;
}

footer p {
    font-family: "Lato Regular", sans-serif;
    font-size: 12px;
    color: #707071;
}

footer p span {
    text-transform: uppercase;
}

/*/footer*/


/*/project-any-block-(a-z)*/

