* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
}

.wrap {
    max-width: 584px;
    height: 700px;
    margin: 0 auto;
    margin-top: 130px;
}

.wrap .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

form {
    font-size: 0;
}

.search input[type='text'] {
    display: inline-block;
    width: 545px;
    height: 42px;
    color: #222;
    font-family: arial, sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #D9D9D9;
    padding: 7px 11px;
}

.search input[type='text']:hover {
    border-color: #a8a8a8;
}

.search input[type='text']:focus {
    outline: none;
    border-color: #4e90fd;
}

.search input[type='submit'] {
    height: 42px;
    width: 40px;
    background: #4285F4 url(../img/search.png) 12px no-repeat;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -1px;
    color: transparent;
    position: relative;
    cursor: pointer;
    outline: none;
}

.search input[type='submit']:hover {
    background-color: #3670d0;
}

.results {
    margin-top: 30px;
    font-size: 14px;
}

.results ul {
    padding-left: 20px;
}

.results li {
    margin: 10px 0;
}

.results li a {
    font-weight: bold;
}