body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #BA00FF;
}

menu {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    padding: 0;
}

menu li {
    text-transform: uppercase;
    float: left;
}

menu li:last-of-type {
    float: right;
}

menu li a {
    display: block;
    font-family: 'Economica', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 15px;
}

menu li:hover {
    background: #eeeeee;
}

menu li:hover a {
    color: #a0a0a0;
}
