@charset "utf-8";

/*base*/
/*base_non-change*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clr:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

input[type="submit"] {
    cursor: pointer;
}

b, .b {
    font-weight: bold;
}

i, .i {
    font-style: italic;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider .slider-list {
    width: 20000em;
    position: relative;
}

/*/base_non-change*/
/*base_custom*/

html {
    background: #fafafa;
}

body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.wrapper-box {
    width: 974px;
    margin: 60px auto 80px auto;
}

.wrapper {
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    position: relative;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

.wrapper:before {
    content: '';
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 3px;
    width: 972px;
    z-index: -1;
    bottom: -5px;
    left: 0;
}

a {
    text-decoration: none;
}

h1,
.h1,
h1 a,
.h1 a {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 38px;
    color: #515151;
}

h2,
.h2,
h2 a,
.h2 a {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 18px;
    color: #222222;
}

.col-l {
    float: left;
}

.col-r {
    float: right;
}

.btn {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(198, 141, 30, 0.7);
    background-image: linear-gradient(to bottom, #FFC654 0%, #FFBA43 100%);
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    padding: 5px;
}

.btn:hover {
    background: #ffad19;
}


/*/base_custom*/
/*/base*/

/*project-any-block-(a-z)*/

/*header*/

header .logo-box {
    float: left;
}

header .logo-box p {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #999999;
    padding: 1px 4px;
}

header menu {
    float: right;
    font-size: 0;
    padding: 10px 0;
}

header menu>li {
    display: inline-block;
    margin-right: 32px;
    position: relative;
}

header menu li:last-of-type {
    margin-right: 0;
}

header menu a {
    display: block;
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 14px;
    color: #666666;
}

header menu>li>a {
    padding: 10px;
}

header menu li:hover>a {
    color: #222222;
    border-bottom-width: 3px;
}

header menu .btn:hover {
    background: #ffad19;
    color: #FFFFFF;
}

header .submenu {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    width: 165px;
    box-sizing: border-box;
    padding-top: 6px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    top: 35px;
    left: -3px;
    z-index: 999;
    opacity: 0;
    margin-top: -10px;
    transition: margin .2s, opacity .2s;
}

header menu .submenu li {
    background: #FFFFFF;
    padding: 5px;
    position: relative;
}

header menu .submenu li:hover {
    padding-bottom: 7px;
}

header menu .submenu li a {
    display: block;
    padding: 6px 6px 4px 6px;
    font-size: 12px;
    line-height: 1em;
}

header menu .submenu li:after {
    content: '';
    display: block;
    position: absolute;
    width: 143px;
    height: 7px;
    background: #e5e5e5;
    left: 10px;
    bottom: -6px;
}

header menu .submenu li:last-of-type:after {
    display: none;
}

header menu .submenu li:hover a {
    background: #f3f3f3;
    color: #666666;
    border-radius: 3px;
    padding-bottom: 5px;
}

header .submenu a span {
    display: none;
    font-size: 10px;
    color: #aaaaaa;
}

header .submenu li:hover span {
    display: block;
}

header menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
    margin: 0;
}

header .submenu:before,
header .submenu:after {
    content: '';
    position: absolute;
    top: -1px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

header .submenu:before {
    left: 20px;
    border-width: 7px 7px 0 7px;
    border-color: #e0e0e0 transparent transparent transparent;
}

header .submenu:after {
    left: 21px;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
}

/*/header*/


/*/contact*/

.contact-title {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 20px;
    color: #bbbbbb;
    text-transform: uppercase;
    padding: 13px 0;
    border: 1px solid #e5e5e5;
    border-right: 0;
    border-left: 0;
    margin-top: 29px;
}

.contact .content {
    position: relative;
}

.contact .content:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15px;
    top: -15px;
    left: 0;
    background: url("../img/contact-assets-shadow.png");
}

.contact .main {
    width: 607px;
    float: left;
}

.contact .form-wrap {
    padding: 16px 22px 53px 0;
    border-right: 1px solid #e5e5e5;
}

.contact .form-title {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 18px;
    color: #222222;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.contact .form-title:before,
.contact .form-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.contact .form-title:before {
    left: 39px;
    border-width: 7px 7px 0 7px;
    border-color: #e0e0e0 transparent transparent transparent;
    bottom: -7px;
}

.contact .form-title:after {
    left: 40px;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
    bottom: -6px;
}

.contact form {
    font-size: 0;
    padding-top: 20px;
    position: relative;
}

.contact form:before,
.contact form:after {
    content: "";
    position: absolute;
    z-index: -2;
}

.contact form:before {
    bottom: 50%;
    top: 0;
    left: 10px;
    right: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
       -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
            box-shadow: 0 0 15px rgba(0,0,0,0.6);
    -moz-border-radius: 100px / 10px;
         border-radius: 100px / 10px;
}

.contact form .line {
    margin-bottom: 15px;
}

.contact form .line:not(.textarea-line) {
    height: 25px;
    line-height: 25px;
}

.contact form label {
    display: inline-block;
    width: 109px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #444444;
    height: 23px;
    line-height: 28px;
}

.input-wrap {
    display: inline-block;
    width: 455px;
    position: relative;
}

.contact input[type='text'],
.contact input[type='email'],
.contact textarea {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 0 9px;
    box-sizing: border-box;
}

.contact form textarea {
    display: inline-block;
    width: 475px;
    min-height: 177px;
    padding: 10px;
}

.contact form textarea::-webkit-input-placeholder {
    font-size: 12px;
    color:#999999;
    line-height: 1.5em;
}

.contact form textarea::-moz-placeholder {
    font-size: 12px;
    color:#999999;
    line-height: 1.5em;
}

.contact form textarea:-moz-placeholder {
    font-size: 12px;
    color:#999999;
    line-height: 1.5em;
}

.contact form textarea:-ms-input-placeholder {
    font-size: 12px;
    color:#999999;
    line-height: 1.5em;
}

.contact form input[type='text'],
.contact form input[type='email'] {
    width: 155px;
    height: 25px;
    line-height: 25px;
}

.input-wrap.valid input {
    border-color: #cae28b;
}

.input-wrap.valid:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 163px;
    width: 14px;
    height: 14px;
    background: #c4dd83 url("../img/sprite.png") 4px -336px;
    border-radius: 50%;
}

.input-wrap.invalid input {
    border-color: #ecb0b0;
}

.input-wrap.invalid:before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: 163px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 4px 3px 0;
    border-color: transparent #ecb0b0 transparent transparent;
}

.input-wrap.invalid:after {
    content: 'something wrong with your email';
    display: block;
    position: absolute;
    top: 0;
    left: 167px;
    height: 14px;
    width: 165px;
    background: #ecb0b0;
    border-radius: 2px;
    color: #ac4040;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 15px;
    padding: 5px 5px 5px 10px;
}

.contact form input[type='submit'] {
    border: none;
    margin-left: 109px;
    font-size: 15px;
    padding: 5px 18px;
}


/*sidebar*/

.contact .sidebar {
    float: right;
    width: 310px;
    padding: 21px 14px;
    box-sizing: border-box;
}

.sidebar-content-box {
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 3px;
    padding: 7px 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.sidebar-content-box .title {
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-content-box .text {
    color: #444444;
    padding: 9px 2px;
    line-height: 1.7em;
}


/*/sidebar*/

/*/contact*/

/*hr-wrap*/

.hr-wrap {
    width: 100%;
    left: 0;
    box-sizing: border-box;
    background: #fafafa;
    padding: 8px 26px;
}

.hr-wrap hr {
    background: #dfdfdf;
}

/*/hr-wrap*/


/*footer*/

footer {
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 0;
    text-align: justify;
    position: relative;
}

.footer-list-wrap {
    display: inline-block;
    font-size: 12px;
    width: 180px;
    vertical-align: top;
}

footer:after {
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 7px;
    width: 972px;
    z-index: -1;
    content: '';
    bottom: -23px;
    left: -30px;
}

.footer-content:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer-list-wrap:last-of-type {
    margin-right: 0;
}

.footer-list-wrap .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffad19;
    margin-bottom: 10px;
}

.footer-list-wrap li {
    line-height: 1.3em;
    padding: 7px 0;
    border-bottom: 1px solid #e4e4e4;
}

.footer-list-wrap li:last-of-type {
    border-bottom: none;
}

.footer-list-wrap li a {
    color: #666666;
    display: block;
}

.footer-list-wrap li:hover a {
    color: #222222;
}

.footer-list-wrap.latest-articles {
    width: 455px;
}

.footer-list-wrap.latest-articles li {
    padding-left: 30px;
    position: relative;
    padding-bottom: 21px;
}

.footer-list-wrap.latest-articles li:before {
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 20px;
    top: 7px;
    left: 0;
    background: url("../img/sprite.png") 0 -312px;
}

.footer-list-wrap.latest-articles span {
    display: block;
    font-size: 11px;
    color: #aaaaaa;
}

.footer-list-wrap li:hover span {
    color: #828282;
}
/*/footer*/

.shadow {
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: -4px;
    left: 0;
    content: '';
}

.shadow:before,
.shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.shadow:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

/*/project-any-block-(a-z)*/

