@charset "utf-8";

/*base*/
/*base_non-change*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clr:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="text"]:focus,
input[type="password"]:focus,
.jq-selectbox.opened,
textarea:focus {
    border: 1px solid #f2532f;
    outline: none;
}

b, .b {
    font-weight: bold;
}

i, .i {
    font-style: italic;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider .slider-list {
    width: 20000em;
    position: relative;
}

/*/base_non-change*/
/*base_custom*/

html {
    background: #fafafa;
}

body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.wrapper {
    width: 974px;
    padding: 27px 20px 20px 30px;
    box-sizing: border-box;
    background: #ffffff;
    margin: 60px auto 80px auto;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    position: relative;
}

.wrapper:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

.wrapper:before {
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 7px;
    width: 972px;
    z-index: -1;
    content: '';
    bottom: -7px;
    left: 0;
}

a {
    text-decoration: none;
}

h1,
.h1,
h1 a,
.h1 a {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 38px;
    color: #515151;
}

h2,
.h2,
h2 a,
.h2 a {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 18px;
    color: #222222;
}

.col-l {
    float: left;
}

.col-r {
    float: right;
}

.btn {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(198, 141, 30, 0.7);
    background-image: linear-gradient(to bottom, #FFC654 0%, #FFBA43 100%);
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5) inset;
    padding: 5px;
}

.btn:hover {
    background: #ffad19;
}


/*/base_custom*/
/*/base*/

/*project-any-block-(a-z)*/

/*header*/

header .logo-box {
    float: left;
}

header .logo-box p {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #999999;
    padding: 1px 4px;
}

header menu {
    float: right;
    font-size: 0;
    padding: 10px 0;
}

header menu>li {
    display: inline-block;
    margin-right: 32px;
    position: relative;
}

header menu li:last-of-type {
    margin-right: 0;
}

header menu a {
    display: block;
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 14px;
    color: #666666;
}

header menu>li>a {
    padding: 10px;
}

header menu li:hover>a {
    color: #222222;
    border-bottom-width: 3px;
}

header menu .btn:hover {
    background: #ffad19;
    color: #FFFFFF;
}

header .submenu {
    display: block;
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    width: 165px;
    box-sizing: border-box;
    padding-top: 6px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    top: 35px;
    left: -3px;
    z-index: 999;
    opacity: 0;
    margin-top: -10px;
    transition: margin .2s, opacity .2s;
}

header menu .submenu li {
    background: #FFFFFF;
    padding: 5px;
    position: relative;
}

header menu .submenu li:hover {
    padding-bottom: 7px;
}

header menu .submenu li a {
    display: block;
    padding: 6px 6px 4px 6px;
    font-size: 12px;
    line-height: 1em;
}

header menu .submenu li:after {
    content: '';
    display: block;
    position: absolute;
    width: 153px;
    height: 7px;
    background: #e5e5e5;
    left: 5px;
    bottom: -6px;
}

header menu .submenu li:last-of-type:after {
    display: none;
}

header menu .submenu li:hover a {
    background: #f3f3f3;
    color: #666666;
    border-radius: 3px;
    padding-bottom: 5px;
}

header .submenu a span {
    display: none;
    font-size: 10px;
    color: #aaaaaa;
}

header .submenu li:hover span {
    display: block;
}

header menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
    margin: 0;
}

header .submenu:before,
header .submenu:after {
    content: '';
    position: absolute;
    top: -1px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

header .submenu:before {
    left: 20px;
    border-width: 7px 7px 0 7px;
    border-color: #e0e0e0 transparent transparent transparent;
}

header .submenu:after {
    left: 21px;
    border-width: 6px 6px 0 6px;
    border-color: #ffffff transparent transparent transparent;
}

/*/header*/

/*main-content*/

.main-content {
    margin-top: 62px;
    padding: 0 70px 60px 50px;
    position: relative;
}

.main-content .slider-wrap {
     float: left;
     width: 302px;
     height: 198px;
     background-color: rgb(246, 246, 246);
     box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
     overflow: hidden;
     font-size: 0;
     position: relative;
 }

.slider-wrap .slider-arrows,
.slider-wrap .overlay {
   position: absolute;
   bottom: 10px;
   height: 48px;
   z-index: 10;
}

.slider-wrap .slider-arrows {
    width: 30px;
    background: url("../img/sprite.png");
}
.slider-wrap .slider-arrows:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.slider-wrap .slider_prev {
    left: 5px;
    bottom: 10px;
    background-position: 0 -23px;
}

.slider-wrap .slider_next {
    right: 5px;
    bottom: 10px;
    background-position: 0 -78px;
}

.slider-wrap .overlay {
    background: rgba(0, 0, 0, 0.55);
    width: 222px;
    left: 40px;
    border-radius: 3px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    padding: 7px;
    box-sizing: border-box;
}

.slider-wrap .overlay .img-title {
    color: #f6f6f6;
    font-size: 13px;
}
.slider-wrap .overlay .img-description {
    font-size: 11px;
    color: #676767;
    margin-top: 4px;
}

.slider-wrap .overlay .img-description span {
    color: #ffc14c;
}

.main-content .slider-wrap ul {
    width: 999px;
}

.main-content .slider-wrap li {
    display: inline-block;
}

.main-content .slider-wrap .slider-img {
     display: block;
     margin: 5px;
 }

.main-content .title {
    float: right;
    width: 435px;
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    margin-top: 10px;
    text-align: right;
}

.main-content .title p {
    color: #666666;
    font-size: 14px;
    padding-left: 13px;
}

.main-content .title .btn-wrap {
    margin-top: 20px;
    text-align: right;
}

.main-content .title .btn {
    display: inline-block;
    padding: 5px 65px 5px 8px;
    position: relative;
}

.main-content .title .btn span {
    display: block;
    font-size: 10px;
    font-family: "Arial", sans-serif;
    color: #D28600;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    text-align: left;
}

.main-content .title .btn:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 32px;
    background: rgba(0, 0, 0, 0.1);
    top: 6px;
    right: 40px;
}

.main-content .title .btn:after {
    content: '';
    position: absolute;
    display: block;
    width: 11px;
    height: 20px;
    background: url("../img/sprite.png") 0 0;
    top: 12px;
    right: 15px;
}

/*/main-content*/

/*articles*/

.articles {
    padding: 20px 0;
    position: relative;
}

.articles:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    border-bottom: 2px solid #f8f8f8;
    top: 0;
}

.articles .article-box {
    margin-top: 13px;
    font-size: 0;
}

.articles article {
    width: 303px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
}

.articles article:last-of-type {
    margin-right: 0;
}

.articles .art-title {
    padding: 9px 9px 11px;
    background: #f1f1f1;
    position: relative;
}

.articles article .img-box {
    position: relative;
    border: 3px solid #ffffff;
    width: 295px;
    height: 142px;
}

.articles article img {
    display: inline-block;
    text-align: center;
}

.articles .img-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transform: scale(0, 0);
    transition: opasity .2s, transform 0.25s;
}

.img-box .overlay .links {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 63px;
    width: 138px;
    text-align: center;
    font-size: 0;
    margin-top: -31px;
    margin-left: -69px;
}

.img-box .overlay .links a {
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/sprite.png");
    margin-right: 3px;
    position: relative;
    transform: scale(1, 1);
    transition: transform .2s;
}

.img-box .overlay .links a:hover {
    transform: scale(1.1, 1.1);
}

.img-box .overlay .links a:last-of-type {
    margin-right: 0;
}

.img-box .overlay .download {
    width: 35px;
    height: 35px;
    background-position: 0 -129px;
}

.img-box .overlay .show {
    width: 62px;
    height: 62px;
    background-position: -1px -168px;
}

.img-box .overlay .screen {
    width: 35px;
    height: 35px;
    background-position: 0 -236px;
}

.articles .img-description-box {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    font-size: 14px;
    color: #666666;
    position: relative;
    border: 1px solid #f1f1f1;
    border-bottom: none;
}

.articles .img-description-box span {
    display: block;
    font-family: Arial, sans-serif;
    color: #999999;
    font-size: 11px;
}

.articles .img-description-box:after {
    content: '';
    position: absolute;
    display: block;
    height: 7px;
    width: 303px;
    background: url("../img/battlement.png") repeat-x;
    bottom: -7px;
    left: -1px;
}

.articles article:hover .art-title {
    background: #ffffff;
}

.articles article:hover .img-description-box:after {
    background: url("../img/battlement_hover.png") repeat-x;
}

.articles .text {
    font-family: Arial, sans-serif;
    color: #666666;
    font-size: 12px;
    padding: 15px 2px 2px;
    line-height: 1.5em;
}

.articles article:hover .overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
}

/*/articles*/

/*tabs-wrap*/

.highlight {
    font-family: 'Oxygen', "Myriad Pro", Arial, sans-serif;
    color: #c07e00;
    background: #ffe7b9;
}

.tabs-wrap {
    min-height: 295px;
    height: 302px;
    padding-bottom: 20px;
}

.tabs {
    width: 100%;
    position: relative;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background: #fbfbfb;
    border: 1px solid #ececec;
    border-top-right-radius: 3px;
}

.tabs>li {
    float: left;
    display: block;
    margin-left: -1px;
}

.tabs input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -9999;
}

.tabs label {
    display: block;
    padding: 12px 12px;
    font-size: 14px;
    color: #999999;
    background: #fcfcfc;
    cursor: pointer;
    position: relative;
    border: 1px solid #ececec;
    border-bottom: none;
    top: -1px;
    left: -2px;
}

.tabs>li:first-of-type label {
    border-top-left-radius: 3px;
    margin-left: 0;
}

.tabs label:hover {
    background: #ffffff;
}

.tab-content {
    z-index: 2;
    display: none;
    overflow: hidden;
    width: 926px;
    font-size: 12px;
    padding: 29px 21px;
    position: absolute;
    top: 41px;
    left: -3px;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ececec;
    border-top: none;
    color: #333333;
}

[id^="tab"]:checked + label {
    background: #ffffff;
    color: #666666;
    border-bottom: 5px solid #fff;
}

[id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
}

.tab-content .tab-title {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    padding-bottom: 7px;
    border-bottom: 1px solid #e5e5e5;
}

.tab-content .content-main {
    padding: 6px;
}

.tab-content1 ul {
    margin-top: 6px;
    float: left;
}

.tab-content li {
    padding-left: 16px;
    position: relative;
    margin-bottom: 6px;
}

.tab-content li:before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 8px;
    background: url("../img/sprite.png") 0 -296px;
    top: 3px;
    left: 0;
}

.tab-content li a {
    display: block;
    color: #333333;
}

.tab-content li a:hover {
    font-weight: bold;
}

.tab-content1 .article-box {
    float: right;
    font-size: 0;
    width: 577px;
}

.tab-content1 .article-box article {
    display: inline-block;
    font-size: 12px;
    width: 277px;
    margin-right: 20px;
}

.tab-content1 .article-box article:last-of-type {
    margin-right: 0;
}

.tab-content1 .article-box article img {
    padding: 3px;
    border: 1px solid #f1f1f1;
    margin-right: 5px;
}

.tab-content1 .tab-art-text-box {
    display: inline-block;
    width: 142px;
    vertical-align: top;
}

.tab-art-title {
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px;
}

.tab-art-text {
    color: #999999;
    line-height: 1.7em;
}

/*/tabs-wrap*/

/*footer*/

footer {
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 0;
    text-align: justify;
    position: relative;
}

.footer-list-wrap {
    display: inline-block;
    font-size: 12px;
    width: 180px;
    vertical-align: top;
}

footer:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    border-bottom: 2px solid #f8f8f8;
    top: 0;
}

footer:after {
    position: absolute;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    height: 7px;
    width: 972px;
    z-index: -1;
    content: '';
    bottom: -23px;
    left: -30px;
}

.footer-content:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer-list-wrap:last-of-type {
    margin-right: 0;
}

.footer-list-wrap .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffad19;
    margin-bottom: 10px;
}

.footer-list-wrap li {
    line-height: 1.3em;
    padding: 7px 0;
    border-bottom: 1px solid #e4e4e4;
}

.footer-list-wrap li:last-of-type {
    border-bottom: none;
}

.footer-list-wrap li a {
    color: #666666;
    display: block;
}

.footer-list-wrap li:hover a {
    color: #222222;
}

.footer-list-wrap.latest-articles {
    width: 455px;
}

.footer-list-wrap.latest-articles li {
    padding-left: 30px;
    position: relative;
    padding-bottom: 21px;
}

.footer-list-wrap.latest-articles li:before {
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 20px;
    top: 7px;
    left: 0;
    background: url("../img/sprite.png") 0 -312px;
}

.footer-list-wrap.latest-articles span {
    display: block;
    font-size: 11px;
    color: #aaaaaa;
}

.footer-list-wrap li:hover span {
    color: #828282;
}
/*/footer*/

.shadow {
    position: absolute;
    height: 10px;
    width: 100%;
    bottom: -4px;
    left: 0;
    content: '';
}

.shadow:before,
.shadow:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
   -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.shadow:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

/*/project-any-block-(a-z)*/

