@charset "utf-8";

/*base*/
/*base_non-change*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    resize: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clr:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
}

input[type="submit"] {
    cursor: pointer;
}

b, .b {
    font-weight: bold;
}

i, .i {
    font-style: italic;
}

/*/base_non-change*/
/*base_custom*/


@font-face {
    font-family: "Futura Bt Book";
    src: url(fonts/futura-bt_book.ttf);
}

@font-face {
    font-family: "Futura Bt Bold";
    src: url(fonts/futura-bt_bold.ttf);
}

@font-face {
    font-family: "Calibri Italic";
    src: url(fonts/Calibri%20Italic.ttf);
}

@font-face {
    font-family: "Trebuchet MS Regular";
    src: url(fonts/Trebuchet-MS-Regular_.ttf);
}


@font-face {
    font-family: "Trebuchet MS Bold";
    src: url(fonts/Trebuchet-MS-Bold.ttf);
}

@font-face {
    font-family: "Trebuchet MS Italic";
    src: url(fonts/Trebuchet-MS-Italic.ttf);
}


.wrapper {
    max-width: 1400px;
    min-width: 1023px;
    margin: 0 auto;
}

/*header*/

header {
    background: #ffffff;
    padding: 23px 248px 0 189px;
    clear: both;
    overflow: hidden;
}

header .logo {
    float: left;
}

header menu {
    float: right;
}

header menu ul {
    font-size: 0;
}

header menu li {
    display: inline-block;
}

header menu li a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #989898;
    text-decoration: none;
    padding: 15px 17px 32px;
    font-family: 'Open Sans', sans-serif;
}

header menu li:hover a,
header menu li.active a {
    color: #3070a8;
}

header menu li.active a {
    border-bottom: 4px solid #3070a8;
}

/*/header*/

/*banner*/

.banner {
    position: relative;
    background: url("../img/banner.jpg") no-repeat center;
    color: #FFFFFF;
    padding: 10%;
    height: 585px;
    box-sizing: border-box;
}

.banner-title {
    font-family: "Futura Bt Book", sans-serif;
    font-size: 36px;
    text-align: center;
}

.banner-title span {
    display: block;
    font-family: "Futura Bt Bold", sans-serif;
    font-weight: bold;
    font-size: 46px;
    text-transform: uppercase;
    margin-top: 6px;
}

.banner-text {
    font-family: "Calibri Italic", sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    padding: 0 155px;
    margin-top: 21px;
}

.banner-button {
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 35px auto 0;
    padding: 20px 60px;
    cursor: pointer;
}

.banner-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/*/banner*/

/*services*/

.services {
    padding: 62px 0;
}

.services-wrap {
    width: 1023px;
    margin: 70px auto 0;
    font-size: 0;
}

.services-item {
    display: inline-block;
    width: 310px;
    margin-right: 45px;
    text-align: center;
}

.services-item img {
    margin-bottom: 23px;
}

.services-item .title {
    font-family: "Futura Bt Book", Arial, sans-serif;
    font-size: 30px;
    color: #3070a8;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.services-item .description {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #999999;
    line-height: 1.8em;
}

.services-item:last-of-type {
    margin-right: 0;
}

/*/services*/

/*middle*/

.middle {
    background: url("../img/middle-bg.png") center;
    height: 577px;
    width: 100%;
    box-sizing: border-box;
    padding: 5% 35% 0 15%;
}

.middle-title {
    font-family: "Futura Bt Book", Arial, sans-serif;
    font-size: 26px;
    color: #ee8129;
    height: 100px;
    text-transform: uppercase;
    line-height: 1.85em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle-title-description {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 19px;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.middle li {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #9d9d9d;
    line-height: 2.2em;
    padding-left: 39px;
    margin-bottom: 12px;
    position: relative;
    cursor: default;
}

.middle li:before {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 11px;
    left: 17px;
    background: url("../img/list-ellipse.png") 0 0;
}

.middle li:hover {
    color: #3070a8;
}

.middle li:hover:before {
    background-position: 8px 0;
}

/*/middle*/

/*pricing*/

.pricing {
    padding: 70px 0 75px;
}

.section-title {
    font-family: "Trebuchet MS Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #41525c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 56px;
}

.pricing-wrap {
    margin: 30px auto 0;
    width: 876px;
    font-size: 0;
}

.pricing-item {
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
    overflow: hidden;
}

.pricing-item:nth-of-type(2) {
    border: 4px solid #EE8129;
    width: 286px;
    box-shadow: 0 0 13px 0 rgba(8, 116, 178, 0.5);
    position: relative;
}

header {
    text-align: center;
}

.pricing-item:nth-of-type(1) .pricing-header {
    background: #37c2d3;
}

.pricing-item:nth-of-type(2) .pricing-header {
    background: #EE8129;
}

.pricing-item:nth-of-type(3) .pricing-header {
    background: #1cb79a;
}

.pricing-item:nth-of-type(1) .pricing-header,
.pricing-item:nth-of-type(3) .pricing-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.pricing-item:nth-of-type(1),
.pricing-item:nth-of-type(3) {
    border: 1px solid #e8eaec;
    width: 289px;
}

.pricing-item:nth-of-type(1) {
    margin-right: -1px;
}

.pricing-item:nth-of-type(3) {
    margin-left: -1px;
}

.pricing-header .title {
    font-family: "Trebuchet MS Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 23px 10px;
    margin: 0;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.pricing-item:nth-of-type(1) .pricing-header .title,
.pricing-item:nth-of-type(3) .pricing-header .title {
    padding: 20px 10px 13px;
}

.pricing-in {
    padding: 19px 14px 30px;
}

.pricing-item:nth-of-type(1) .pricing-in,
.pricing-item:nth-of-type(3) .pricing-in {
    padding: 19px 14px 23px;
}

.pricing-in .title {
    font-family: "Trebuchet MS Regular", Arial, sans-serif;
    font-size: 24px;
    color: #3f4042;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 16px;
}

.pricing-in .price {
    position: relative;
    font-family: "Trebuchet MS Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #35495a;
    width: 150px;
    height: 75px;
    line-height: 60px;
    padding: 6px 13px;
    box-sizing: border-box;
    letter-spacing: -0.05em;
    margin: 0 auto 26px;
}

.pricing-in .price span {
    position: absolute;
    font-family: "Trebuchet MS Regular", Arial, sans-serif;
}

.pricing-in .price span:first-of-type {
    top: 6px;
    left: 0;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.pricing-in .price span:last-of-type {
    bottom: 0;
    right: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    letter-spacing: -0.03em;
}

.pricing-in ul {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;
}

.pricing-in li {
    position: relative;
    font-family: "Trebuchet MS Regular", Arial, sans-serif;
    font-size: 15px;
    color: #888c94;
    padding: 8px 20px 8px 63px;
    margin-bottom: 2px;
}

.pricing-in li:before {
    content: "";
    position: absolute;
    display: block;
    top: 9px;
    left: 33px;
    width: 15px;
    height: 15px;
    background: url("../img/list-marker.png");
}

.pricing-in li:nth-child(odd) {
    background: #edf5fd;
}

.pricing-in li:nth-child(even) {
    background: #f5f5f6;
}

.pricing-item button {
    width: 252px;
    padding: 11px;
    box-sizing: border-box;
    margin: 0 4px;
    font-family: "Trebuchet MS Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pricing-item:nth-of-type(1) button,
.pricing-item:nth-of-type(3) button {
    background: #3371a6;
    box-shadow: 0 3px 0 0 #16436a;
}

.pricing-item:nth-of-type(2) button {
    background: #EE8129;
    box-shadow: 0 3px 0 0 #B3560B;
}

.pricing-item:nth-of-type(1) button:hover,
.pricing-item:nth-of-type(3) button:hover {
    background: #4387a6;
}

.pricing-item:nth-of-type(2) button:hover {
    background: #ee9d3a;
}


.pricing-item button:active {
    box-shadow: none;
}

.pricing-item button:focus {
    outline: none;
    box-shadow: none;
}

/*/pricing*/

/*testimonials*/

.testimonials {
    background: url("../img/bg.png") repeat;
    padding: 47px 0 35px 42px;
    text-align: center;
}

.testimonials-title {
    font-family: "Trebuchet MS Regular", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #3170a8;
    margin-bottom: 41px;
}

.testimonials-title span {
    color: #ee8129;
}

.testimonials-wrap {
    font-size: 0;
}

.testimonials-item {
    display: inline-block;
    font-size: 0;
    margin-right: 41px;
    margin-bottom: 41px;
}

.testimonials-item img {
    display: inline-block;
    margin-right: 26px;
    vertical-align: top;
}

.testimonials-item .text-box {
    display: inline-block;
    width: 364px;
    background: #f7f7f7;
    padding: 13px 16px 7px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}

.testimonials-item .text-box:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 16px 12px 0;
    border-color: transparent #f7f7f7 transparent transparent;
    top: 37px;
    left: -16px;
}

.text-box .line-top {
    padding-bottom: 10px;
    border-bottom: 1px dotted #666666;
    clear: both;
    overflow: hidden;
}

.text-box .line-top a {
    font-family: "Trebuchet MS Italic", Arial, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: #3070a8;
    text-decoration: none;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.text-box .line-top .username {
    float: left;
    position: relative;
    padding-left: 8px;
    max-width: 250px;
}

.text-box .line-top .username:before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 1px;
    top: 8px;
    left: 0;
    background: #3070a8;
}

.text-box .line-top .status {
    float: right;
    margin-right: 6px;
    max-width: 162px;
}

.text-box .text {
    padding: 7px 0;
    font-family: "Trebuchet MS Regular", Arial, sans-serif;
    font-size: 13px;
    color: #666666;
    line-height: 1.5em;
    letter-spacing: 0.025em;
}

/*/testimonials*/

/*contact*/

.contact-box {
    float: left;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #666666;
    width: 50%;
    box-sizing: border-box;
    padding: 38px 0 10px 14%;
}

.contact-box p {
    padding-left: 57px;
    position: relative;
    margin-bottom: 17px;
}

.contact-box p:last-of-type {
    margin-bottom: 0;
}

.contact-box .address {
    line-height: 2.2em;
}

.contact-box p:before {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/contact.png");
}

.contact-box .address:before {
    width: 23px;
    height: 31px;
    top: 3px;
    left: 1px;
    background-position: 0 0;
}

.contact-box .phone:before {
    width: 19px;
    height: 26px;
    top: -1px;
    left: -2px;
    background-position: -25px 0;
}

.contact-box .email:before {
    width: 23px;
    height: 16px;
    top: 4px;
    left: -4px;
    background-position: -47px 0;
}

.contact-box .social-box {
    margin-top: 35px;
    font-size: 0;
}

.contact-box .social-box a {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 20px;
    background: url("../img/contact.png");
}

.contact-box .social-box a:last-of-type {
    margin-right: 0;
}

.contact-box .social-box .fb {
    background-position: 0 47px;
}

.contact-box .social-box .tw {
    background-position: -46px 47px;
}

.contact-box .social-box .in {
    background-position: -92px 47px;
}

.map {
    float: right;
    width: 50%;
}
/*/contact*/

/*footer*/

footer {
    font-family: "Open Sans", Arial, sans-serif;
    background: #3070a8;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 20px;
    line-height: 2.2em;
    height: 104px;
    box-sizing: border-box;
}

footer span {
    color: #000;
}
/*/footer*/

@media screen and (max-width: 1720px) {

    header .logo,
    header menu {
        display: block;
        float: none;
        text-align: center;
    }
    
}

