.slider {
    width: 590px;
    margin: 50px auto;
    padding: 0 30px;
    position: relative;
}

.slide-list {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide-wrap {
    position: relative;
    left: 0px;
    top: 0;
    width: 10000000px;
}

.slide-item {
    width: 100px;
    padding: 10px;
    float: left;
}

.slide-title {
    font: bold 16px monospace;
    display: block;
}

.navy {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 50px;
    cursor: pointer;
}

.navy span {
    display: inline-block;
    margin-top: 50px;
}

.prev-slide {
    left: -20px;
}

.next-slide {
    right: -30px;
}